.centered-body {
  max-width: 400px;
  margin: 0 auto; /* CENTERS */
}

.white-space {
  width: 20px;
  height: 20px;
}

/*     -     -     -      -     -   */

.container-1 {
  display: block; /* DEFAULT, (i'm beeing reduntant) */
  background-color: brown;
}
.row-1 {
  background-color: #00a6fb;
  border: 1px solid brown;
  text-align: center;
}

/*     -     -     -      -     -   */

.container-2 {
  display: flex;
  background-color: brown;
}

/*     -     -     -      -     -   */

.container-3 {
  display: flex;
  flex-wrap: wrap;
  background-color: brown;
}

/*     -     -     -      -     -   */

.row-2 {
  flex: 1;
  background-color: #00a6fb;
  border: 1px solid brown;
  text-align: center;
}
.row-3 {
  flex: 2;
  background-color: #00a6fb;
  border: 1px solid brown;
  text-align: center;
}

/*     -     -     -      -     -   */

.container-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: brown;
}
/*     -     -     -      -     -   */

.container-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: brown;
}
