.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  padding: 10px;
}

.cardHeader {
  display: flex;
}

.cardTitle {
  text-align: center;
  flex: 1;
}

.cardButtons {
  text-align: right;
  display: flex;
}
