.frenetic-clickers {
  display: flex;
  flex-wrap: wrap;
}

.clicker-button {
  background-color: blueviolet;
  min-height: 30pt;
  min-width: 80pt;
  margin: 2pt;
  padding: 5pt;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5pt;
}

.txt-inside-button {
  flex: 1;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.clicker-label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 5pt;
  padding-left: 5pt;
  justify-content: center;
  align-items: center;
}

.clicker-upgrade {
  font-size: 5pt;
  color: rgb(0, 255, 0);
  font-weight: bold;
}

.dots {
  max-height: 22px;
  flex: 1;
}

.not-buyed-arrow {
  opacity: 0.5;
}

.reset-button {
  background-color: #ff1100;
  border: 0;
  margin: 2pt;
}
