header#main-header {
  background: #e0ddcf;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: #2d232e;
  text-decoration: none;
  text-transform: uppercase;
}

.headerItem {
  padding-right: 10px;
  padding-left: 10px;
}
