.annotations-list {
  display: flex;
  flex-wrap: wrap;
}

.newAnnotation {
  display: flex;
  flex-wrap: wrap;
}

.create-button {
  padding-left: 5px;
}

.input-new-annotation .button-new-annotation {
  flex: 1;
}
