.scoreboard {
  display: flex;
  flex-wrap: wrap;
}

.scoreboard-item {
  text-align: center;
  background-color: rgb(156, 203, 211);
  margin: 2pt;
  flex: 1;
  border-radius: 5pt;
}

.big-number-1 {
  font-size: 20pt;
  color: rgb(0, 81, 255);
}
